/* 
#ffdada
#dbf6e9
#9ddfd3
#31326f */

body {
    font-family: Montserrat, sans-serif;
}

/* Title */

#title {
    background-color: #f5fff9;
    color: #31326f;
}

.navbar {
    margin: 0 10% 0 10%;
}

.navbar .navbar-brand, .navbar .nav-item .nav-link {
    color: #31326f;
}

.nav-item {
    padding: 0 10px;
}

.greating-row {
    margin: 0 10% 0 10%;
    text-align: center;
}

.greating-header {
    font-weight: 100;
    font-size: 4rem;
}

/* .profile-photo {
    width: 100px;
    margin: 0 10% 0 10%;
} */

.title-greating-container {
    padding-top: 15%;
    padding-bottom: 15%;
}

/* Hobbies */

#hobbies {
    color: #31326f;
    margin: 10% 10% 10% 10%;
}

.wine-icon {
    color: #af0069;
}

.wine-icon, .route-icon, .programming-icon {
    padding-bottom: 7px;
}

.div-hobbies {
    text-align: center;
}

@media (max-width: 992px) {
    .div-hobbies{
        padding-bottom: 10%;
    }
}

@media (min-width: 992px) {
    #hobbies {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}